@model MvcView.Models.RazorSyntaxModel

@{
    ViewBag.Title = "4-1 Razor構文";
}

<h1>4-1 Razor構文</h1>

<h2>4-1-1 コードナゲット(インライン式)</h2>

<p>@Model.Title</p>
<p>@Model.Viewcount / 1000</p>
<p>@(Model.Viewcount / 1000)</p>
@*<a href="@Model.Key_index.html">記事目次へ</a>*@
<a href="@(Model.Key)_index.html">記事目次へ</a>

<h2>4-1-2 予約文字「＠」のエスケープ</h2>

<p>admin@examples.com</p>
@*<p>@Niftyはインターネットプロバイダーです。</p>*@
<p>@@Niftyはインターネットプロバイダーです。</p>

<h2>4-1-3 コードブロック</h2>
@{
    ViewBag.Title = "About";
}

<h2>4-1-4 制御構文(コードブロック)</h2>

<p>
    @if (Model.Viewcount >= 10000)
    {
        WriteLiteral("<strong>人気！</strong>");
    }
</p>
<p>
    @if (Model.Viewcount >= 10000)
    {
        <strong>人気！</strong>
    }
</p>
@*@if(Model.Viewcount >= 10000)
    {
        人気！
    }*@
<p>
    @if (Model.Viewcount >= 10000)
    {
        @:人気！
    }
</p>
<p>
    @if (Model.Viewcount >= 10000)
    {
        <text>
            人気！
            人気！
            人気！
        </text>
    }
</p>