
@{
    ViewBag.Title = "CreateList";
}

<h2>CreateList</h2>

@using(Html.BeginForm()) {
<input type="submit" value="登録" />
<table class="table">
  <tr>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>誕生日</th>
  </tr>
  @for(var i = 0; i < 5; i++) {
      var key = String.Format("list[{0}].", i);
        <tr>
          <td>@Html.TextBox(key + "Name")</td>
          <td>@Html.TextBox(key + "Email")</td>
          <td>@Html.TextBox(key + "Birth")</td>
        </tr>
    
        //キー／値形式（IDictionary型）の引数にデータをバインドする場合
        @*<tr>
          <td>@Html.Hidden(key + "key", "key" + i.ToString())
            @Html.TextBox(key + "value.Name")</td>
          <td>@Html.TextBox(key + "value.Email")</td>
          <td>@Html.TextBox(key + "value.Birth")</td>
        </tr>*@        
    }
</table>
}

